{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block content %}
<!-- ========================= banner ========================= -->
{% include 'banner.html' %}
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Shopping</a>
	<h3 class="section-title">Popular products({{product_count}} products found) </h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for products in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{products.get_url}}" class="img-wrap"> <img src="{{products.images.url}}"> </a>
			<figcaption class="info-wrap">
				<a href="{{products.get_url}}" class="title">{{products.product_name}}</a>
				<div class="price mt-1">${{ products.price }}</div> <!-- price-wrap.// -->
				<p>{{products.description|truncatewords:10}}</p>
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
	
</div> <!-- row.// -->
{% include 'pagination.html' %}
</div><!-- container // -->
</section>

<!-- ========================= SECTION  END// ========================= -->
{% endblock content %}